body    {
	background: none repeat scroll 0 0 #DDDDDD;
}

#logo_gear    {
	position: absolute;
	left: 95px;
	top: 10px;
}

.page   {
	background-color: #FFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 8px 2px #BBB, 0 0 8px #BBB;
    padding: 15px 0;
    margin-bottom: 15px;
    margin-top: -1px;
}

footer {
    background: none repeat scroll 0 0 #444;

	.title  {
		color: #CCC;
        text-transform: capitalize;
	}

	.copyright {
	    color: #CCC;
	    font-size: 11px;
	    margin-top: 16px;
	    padding: 8px;
	    text-align: center;
	}
}

.cell {
    margin-bottom: 15px;
    overflow: auto;
}

.update {
    background-color: #0069D6;
    border-radius: 3px 3px 3px 3px;
    color: #FFF;

    a   {
        color: #FFF;
        text-decoration: none;
    }
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.hidden {
	display: none;
}

a.icon-link {
	padding-bottom: 0;
}