body {
    background: none repeat scroll 0 0 #DDDDDD;
    padding-top: 60px;
}
.container  {
    width: 960px;
}
#logo_gear {
  position: absolute;
  left: 95px;
  top: 8px;
}
.page {
    background-color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    /*box-shadow: 0 2px 8px 2px #BBB, 0 0 8px #BBB;*/

    -webkit-box-shadow: 0px 2px 8px 2px #BBB;
    -moz-box-shadow:    0px 2px 8px 2px #BBB;
    box-shadow:         0px 2px 8px 2px #BBB;

    padding: 15px 20px;
    margin-bottom: 15px;
    margin-left: -20px;
    margin-top: -1px;
}
footer {
    background: none repeat scroll 0 0 #444;
    clear: both;
    height: 150px;
    margin-top: -150px;
    position: relative;
}
footer .title {
  color: #CCC;
  text-transform: capitalize;
}
footer .copyright {
  color: #CCC;
  font-size: 11px;
  margin-top: 16px;
  padding: 8px;
  text-align: center;
}
.cell {
  margin-bottom: 15px;
  overflow: auto;
}
.update {
  background-color: #0069D6;
  border-radius: 3px 3px 3px 3px;
  color: #FFF;
}
.update a {
  color: #FFF;
  text-decoration: none;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.hidden {
  display: none;
}
a.icon-link {
  padding-bottom: 0;
}
.navbar-inner    {
	padding-top: 4px;
}
.navbar .search  {
	height:14px;
	margin-top:5px;
	margin-bottom:0;
	color: #E6E6E6;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid #111;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar .search:hover  {
	background-color: rgba(255, 255, 255, 0.5);
}
.navbar .search:focus  {
	background-color: #FFF;
	color: #404040;
}
.navbar form    {
	margin-bottom:0;
}
.navbar .brand  {
	padding-top: 6px;
}
.tabs.nav-tabs li   {
	list-style: none;
}
.nav-tabs>li>a  {
	text-decoration:none;
}
.nav-tabs li:hover>a {
    background:  #EEE;
}

legend  {
    margin-bottom: 0;
}

div.input-custom    {
    padding-top:5px
}
#user_footer    {
    position: fixed;
    bottom: -2px;
    left: -2px;
    width: 100%;
    padding: 3px;
    background: #FFF;
    border: 2px solid #000;
}
.badge-notification {
    font-size: 10px;
    position: absolute;
    height: 10px;
    line-height: 8px;
    padding: 2px 3px;
}
#message_count  {
    left: 21px;
    top: 7px;
}
#running_model_count    {
    left: 4px;
    top: 7px;
}
#finished_model_count    {
    left: 22px;
    top: 7px;
}
#user_work_count    {
    position: relative;
    top: -1px;
}
label.error {
    color: #F00;
}
html,body   {
    height: 96.49%;
}
#content-wrapper    {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}
footer, #push   {
    height: 150px;
}
.subnav li a    {
    padding-left: 9px;
    padding-right: 9px;
}