/*
 * marketplace.css
 * 	CSS styles for comopnent and service marketplaces
 * 	author: Jeff Mekler
 * 	date: 3/19/2012
 */
 
.thumbnail {
	height:160px;
}

.thumbnail > .caption * {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.thumbnail:hover {
	border: 1px solid #08C;
}

/* let button dropdowns extend beyond the modal when it is open */
#modal.in {
	overflow: visible; 
}