h2 {
  color: #014990;
}
.category {
  margin: 0;
  padding: 0;
  height: 150px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.category .title {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  padding: 10px;
  float: left;
  border-bottom-right-radius: 5px;
}
.category .desc {
  visibility: hidden;
  font-size: 12px;
  color: #FFF;
  display: block;
  padding: 40px 10px 10px 30px;
  height: 100px;
}
.category:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.category:hover .title {
  background-color: rgba(0, 0, 0, 0);
}
.category:hover .desc {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.7);
}
.modelImage {
  float: left;
  padding: 2px;
  border: 1px solid #DDD;
  height: 150px;
}
.modelText {
  margin-left: 162px;
}
ul.modelList {
  list-style: none;
}
ul.modelList li.modelThumb {
  height: 150px;
  margin: 0;
  /* 		.border-radius(5px); */

  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
ul.modelList li.modelThumb:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
ul.modelList li.modelThumb > a {
  text-decoration: none;
  color: inherit;
}
ul.modelList li.modelThumb .modelImage {
  height: 100px;
  border: 1px solid #CDCDCD;
}
ul.modelList li.modelThumb .modelText {
  margin-left: 112px;
}
ul.modelList li.modelThumb .modelText .modelTitle {
  height: 2em;
  margin-bottom: 0.5em;
}
ul.modelList li.modelThumb .modelText .modelDesc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5em 0;
}
a.noStyle {
  text-decoration: none;
  color: inherit;
}
.stat {
  background: #FFF;
  border: 1px solid #CCC;
  margin: 2px;
  padding: 2px;
  min-width: 30px;
  height: 30px;
  text-align: center;
}
.stat .number {
  margin: 0 auto;
  font-size: 12px;
}
.stat .quantity {
  margin: 0 auto;
  font-size: 10px;
}
.span1 {
  float: left;
  width: 6.944444444444445%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
.span2 {
  float: left;
  width: 15.277777777777779%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
.span3 {
  float: left;
  width: 23.61111111111111%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
.span4 {
  float: left;
  width: 31.944444444444446%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
.span5 {
  float: left;
  width: 40.277777777777786%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
.span6 {
  float: left;
  width: 48.611111111111114%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
.span7 {
  float: left;
  width: 56.94444444444444%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
.span8 {
  float: left;
  width: 65.27777777777779%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
.span9 {
  float: left;
  width: 73.61111111111111%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
.span10 {
  float: left;
  width: 81.94444444444446%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
.span11 {
  float: left;
  width: 90.27777777777779%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
.span12 {
  float: left;
  width: 98.61111111111111%;
  margin: 0.6944444444444446%;
  display: block;
  padding: 0;
}
