.icon {
  float: left;
  margin-top: 5px;
}
.time {
  font-size: 10px;
}
.activity {
  clear: both;
  padding-bottom: 10px;
}
#gallery .fancybox div {
  float: left;
  width: 93px;
  border: 1px solid #CCC;
  padding: 2px;
  margin-left: 8px;
}
#gallery .fancybox div:hover {
  background: #CCC;
}
#gallery .fancybox img {
  width: 93px;
  height: 93px;
}
