.widget {
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    overflow: auto;
}
.widget .widget-header {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;
}
.widget .widget-body {
    line-height: 1.4em;
    padding: 10px;
}
.widget .widget-body .tight {
    line-height: 1.2em;
}
ul.widget-list {
    list-style: none outside none;
    margin: 0;
}
.widget-list a, .widget-list a:hover {
    color: inherit;
    text-decoration: none;
}
.widget-list li {
    line-height: 1.8em;
}
.widget-list li span {
    font-size: 9.75px;
    line-height: 1.5em;
}
.widget-list li img {
    display: inline;
    margin: 0 3px;
    max-height: 1em;
    max-width: 1em;
}
.widget-list.tight li {
    line-height: 1.4em;
}
.widget-list.tight span {
    line-height: 1.4em;
}
.widget-header span.update {
	line-height: 14px;
}
